<div class="container">
    <div class="generator">
      <!-- Main Title -->
      <h1>Capacitor App Icon and Splash Screen Generator</h1>
  
      <!-- Description -->
      <p>
        Generate high-quality app icons and splash screens for your Capacitor app in predefined sizes. Upload your app
        logo,
        and our tool will create the assets for you.
      </p>
  
  
      <!-- File Input -->
      <p>Upload your app logo to begin:</p>
      <input type="file" class="file-input" (change)="onImageUpload($event)" accept="image/*"
        aria-label="Upload your app logo to generate icons and splash screens" />
  
      <!-- Preview Section -->
      <div *ngIf="uploadedImage" class="preview-section">
        <h2>Preview Your App Logo</h2>
        <p>Here's how your uploaded logo looks:</p>
        <img [src]="uploadedImage" alt="Preview of the uploaded app logo" class="preview-image" loading="lazy" />
        <button class="generate-button" (click)="generateFiles()">Generate Assets</button>
      </div>
  
      <!-- Download Section -->
      <div *ngIf="generatedFiles.length > 0" class="files-section">
        <h2>Download Generated Assets</h2>
        <p>Your icons and splash screens are ready for download:</p>
        <ul class="file-list">
          <li *ngFor="let file of generatedFiles">
            <span>{{ file.name }}</span>
            <button class="download-button" (click)="downloadBlob(file.blob, file.name)">
              Download
            </button>
          </li>
        </ul>
        <button class="download-all-button" (click)="downloadAllFiles()">Download All</button>
      </div>
    </div>
  
  
   
  
  </div>
  